# =========================
# React / Node
# =========================

client/node_modules/
client/dist/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =========================
# Django / Python
# =========================

server/env/
server/venv/
server/__pycache__/
server/**/*.pyc

# Django uploaded files
server/media/

# SQLite database (if using SQLite)
server/db.sqlite3

# =========================
# Environment variables
# =========================

.env
client/.env
server/.env
*.local

# =========================
# Build files
# =========================

dist/
dist-ssr/

# =========================
# Editors
# =========================

.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?